.storiesbar_container {
    height: 120px;
    width: 630px;
    background-color: #FDFDFD;
    /* border: 1px solid #dbdbdb; */
    margin-top: 5px;
    display: flex;
    overflow-x: scroll;
}
.storiesbar_container::-webkit-scrollbar {
    display: none;
}

.storiesbar_story {
    margin: 25px 8px;
}
.storiesbar_img {
    min-width: 55px;
    min-height: 55px;
    border: 3px solid #df3968;
    z-index: 0;
}
.storiesbar_username {
    font-size: 12px;
    max-width: 60px;
    overflow-x: hidden;
    text-align: center;
}
.storiesbar_upload{
    margin: 25px 8px;
}
